/* GLOBAL */
p {
    color: lightgrey;
}

/* FORM */
.ud-contact-form #email {
    padding-left: 5px;
}

.ud-contact-form #email.error {
    border: 2px solid red;
    border-radius: 8px;
}

/* NAVBAR */
.navbar.navbar-expand-xlg {
    padding-top: 25px;
}

/* BUTTONS */

button > * {
    pointer-events: none;
}

/* SR COPY */
.sr-only{
    position:absolute !important;
    clip:rect(1px, 1px, 1px, 1px);
    padding:0 !important;border:0 !important;
    height:1px !important;
    width:1px !important;
    overflow:hidden
}
